*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200rem;
  font-family: 'vazir', sans-serif;
  // color: $color-grey-dark;
}
html {
  scroll-behavior: smooth;
}
